<div class='footer'>
  <div class='footer-container'>
    <div class='left'>
      <div class='location'>

        <div>
          <p>Avenu ibn sina.</p>
          <h4>Rabat , Agdal</h4>
        </div>
      </div>
      <div class='phone'>
        <i class="fab fa-facebook-f fa-2x" style="color: white;"></i>
      </div>
      <div className='email'>
      </div>
    </div>
    <div class='right'>
      <h4>About the company</h4>
      <p>"EmiBank is a banking web site that  alows you to a secure and easy banking transactions"</p>
      <div className='social'>

      </div>
    </div>

  </div>
</div>
